.item-detail-card {
    display: flex;
    flex-direction: column;
}

.item-detail-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-detail-card > img {
    border-radius: 10px;
}

.item-detail-container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width:768px){
    .item-detail-card {
        display: flex;
        flex-direction: row;
    }
    .item-detail-card > img {
        margin-right: 20px;
    }
}